// .new-adv-modal-form-addimg {
//     // display: none;
//     width: 75px;
//     height: 60px;
//     background-color: rgb(244,246,251);
// }
.off-text-input {
    display: none;
    
}
.new-adv-modal-form-addimg {
    display: block;
    width: 75px;
    height: 60px;
    background-color: rgb(244,246,251);
    margin-right: 14px;
    margin-bottom: 11px;
    font-size: 24px;

    
}
.div-inputs-file {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.svg-cros {
    height: 11px;
    width: 11px;
}