@import '../../css/mixins.scss';
.new-adv-modal-form {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    width: 248px;
    margin: 0 auto;
    margin-top: 20px;
    @include for-tablet-up {
        width: 720px;
        margin-top: 50px;
        display: inline-block;
        padding: 40px;
    }
    @include for-desktop-up {
        width: 950px;
    }
}

.modal-form-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    @include for-tablet-up {
        margin-bottom: 38px;
        font-size: 22px;
        text-align: left;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;    
        line-height: 22px; 
    }
    @include for-desktop-up {

    }
}

.new-adv-modal-form-name {
    margin-bottom: 20px;
    width: 247px;
    height: 50px;
    padding-left: 16px;
    border: solid 1px;
    
    @include for-tablet-up {
        margin-bottom: 18px;
        // padding-right: 53px;
        width: 460px;   
    }
    @include for-desktop-up {
        width: 600px;
    }                   
}

.new-adv-modal-form-product-descriptions {
    margin-bottom: 20px;
    width: 247px;
    height: 50px;
    padding-left: 16px;
    border: solid 1px;
    @include for-tablet-up {
        margin-bottom: 18px;
        width: 460px;  
    }
    @include for-desktop-up {
        width: 600px;
    }   
}

.new-adv-modal-form-categories {
    margin-bottom: 20px;
    width: 247px;
    height: 50px;
    padding-left: 16px;
    border: solid 1px;
    @include for-tablet-up {
        margin-bottom: 18px;
        width: 460px;   
    }
    @include for-desktop-up {
        width: 600px;
    }   
}

.new-adv-modal-form-cash {
    margin-bottom: 20px;
    width: 247px;
    height: 50px;
    padding-left: 16px;
    border: solid 1px;
    @include for-tablet-up {
        margin-bottom: 18px;
        width: 460px; 
    }
    @include for-desktop-up {
        width: 600px;
    }   
}

.new-adv-modal-form-phone {
    margin-bottom: 31px;
    width: 247px;
    height: 50px;
    padding-left: 16px;
    border: solid 1px;
    @include for-tablet-up {
        margin-bottom: 37px;
        width: 460px;   
    }
    @include for-desktop-up {
        width: 600px;
    }   
}

.new-adv-modal-form-btn {
    width: 247px;
    height: 50px;
    background-color: #ff6b08;
    color: white;
    @include for-tablet-up {
        height: 60px;
        width: 295px;
        margin-left: 165px;
    }  
    @include for-desktop-up {
        width: 294px;
    }   
}

.off-text-input {
    display: none;

}
.new-adv-modal-form-addimg {
    display: block;
    width: 75px;
    height: 60px;
    background-color: rgb(244,246,251);
    margin-right: 7px;
    margin-bottom: 11px;
    font-size: 24px;
    text-align: center;
    // padding-top: 18px;
    @include for-tablet-up {
        display: block;
        height: 56px;
        width: 69px;
        margin-right: 9px;
        margin-bottom: 16px;
    }
    @include for-desktop-up {
        height: 59px;
        width: 85px;
        margin-right: 18px;
    }        
}

// .div-inputs-file {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin-bottom: 10px;
//     @include for-tablet-up {
//     display: none
//     }
// }

.new-adv-modal-form-name-p{
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 47px;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;
        line-height: 14px;
    }
}

.new-adv-modal-form-product-descriptions-p{
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 2px;  
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;    
        line-height: 14px; 
    }
}

.new-adv-modal-form-categories-p{
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 90px;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;
        line-height: 14px;
    }
}

.new-adv-modal-form-cash-p{
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 123px;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;
        line-height: 14px;       
    }
}

.new-adv-modal-form-phone-p {
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 110px;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;
        line-height: 14px;  
    }
    @include for-desktop-up {
        margin-right: 110px;

    }
}

.new-adv-modal-form-addimg-p{
    display: none;
    @include for-tablet-up {
        display: inline-block;
        margin-right: 120px;
        font-family: 'MontserratSemiBold', sans-serif; 
        font-size: normal;
        line-height: 14px;
    }
}

.ul-img-lable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.import-img {
    pointer-events: none;
}