<div class="basket__item">
  <img class="basket__image" src="{{images}}" alt="img" width="320">
  <p class="basket__name">{{name}}</p>
  <p class="basket__price">{{price}}</p>
  <button class="decrement">-</button>
  <p class="item__quantity">1</p>
  <button class="increment">+</button>
  <button class="basket__itemDelete">DEL</button>
</div>