<div class="basket__item">
  <img class="basket__image" src="{{itemImage}}" alt="img" width="200">
  <p class="basket__name">{{itemName}}</p>
  <div class="quantity">
    <button class="decrement">-</button>
    <p class="item__quantity">1</p>
    <button class="increment">+</button>
  </div>
  <p class="basket__price">{{itemPrice}}</p>
  <button class="basket__itemDelete">X</button>
</div>