.modalVisible {
  display: none;
}

.modalWindow {
  font-family: 'MontserratSemiBold';
  padding-top: 48px;
  font-size: 10px;
  line-height: 17px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  padding-bottom: 40px;
  position: relative;
}

.closeModalWindow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
}

.text {
  font-weight: bold;
  margin-bottom: 20px;
}

.authBtn {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 52px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(29, 29, 27, 0.1);
  margin-bottom: 28px;
  font-family: 'MontserratBold';
  font-size: 14px;
  color: var(--color-adv-secondary-bgrnd);
  cursor: pointer;
  position: relative;
}

.googleBtn {
  margin-bottom: 10px;
}

.googleSvg {
  position: absolute;
  top: 17px;
  right: 108px;
}

.facebookSvg {
  position: absolute;
  top: 14px;
  right: 117px;
}

.spanAuth {
  color: black;
  padding-left: 15px;
}

.authBtn:hover,
.authBtn:focus {
  background-color: var(--color-decor);
}

.input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border: 1.5px solid var(--color-adv-secondary-bgrnd);
  padding-left: 18px;
  font-size: 13px;
}

.input::placeholder {
  font-family: 'MontserratSemiBold';
  font-size: 13px;
  color: var(--color-adv-secondary-bgrnd);
}

.error {
  margin-bottom: 10px;
  color: red;
  padding-left: 10px;
}

.passwordInput {
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 142px;
  height: 50px;
  background-color: white;
  border: 1.5px solid var(--color-adv-secondary-bgrnd);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'MontserratBold';
}

.btn:hover,
.btn:focus {
  background-color: var(--color-decor);
  border: none;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modalWindow {
    width: 524px;
    height: 512px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    font-size: 13px;
  }

  .googleBtn {
    display: inline-block;
  }

  .buttonsAuth {
    display: flex;
  }

  .input {
    margin-bottom: 15px;
    width: 422px;
  }

  .btn {
    width: 200px;
    height: 60px;
  }

  .passwordInput {
    margin-bottom: 20px;
  }

  .error {
    margin-bottom: 15px;
  }
}
