@import './hamburger/hamburgers.scss';

.header {
  @include for-phone-only {
    padding-top: 26px;
    padding-bottom: 24px;
  }
  @include for-tablet-up {
    padding-top: 34px;
    padding-bottom: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      vertical-align: space-between;
    }
  }

  &__burger-menu {
    @include for-tablet-up {
      display: none;
    }
  }

  &__logo-link {
    display: block;
    color: var(--color-secondary-texts);

    @include for-tablet-up {
      display: block;
      color: var(--color-secondary-texts);
      width: 10%;
      order: -1;
      margin-right: 30%;
    }
  }

  &__input {
    @include for-phone-only {
      width: 20px;
      background: transparent;
      // border: none;
      // background: url('./img/icon_search.png');
      // background-position: right;
      // background-repeat: no-repeat;
    }
    @include for-tablet-up {
      width: 405px;
      height: 44px;
      border: 1px solid white;
      order: 1;
    }
    @include for-tablet-only {
      margin-top: 15px;
    }

    &:focus {
      @include for-phone-only {
        border-bottom: 1px solid var(--color-secondary-texts);
      }
    }
  }

  &__form {
    @include for-phone-only {
      display: none;
    }

    @include for-tablet-up {
      display: flex;
      order: 0;
    }
  }

  &__form button {
    @include for-tablet-up {
      font-family: MontserratRegular;
      font-size: 10px;
      background: transparent;
      border: none;
      color: var(--color-secondary-texts);
    }
  }

  &__avd-btn {
    @include for-phone-only {
      display: none;
    }

    @include for-tablet-up {
      background-color: var(--color-decor);
      border: none;
      width: 200px;
      height: 44px;
      color: #fff;
      @include font($fs: 14px, $lh: 21px, $fw: 600);
    }
  }
}

.navigationButtons {
  display: none;
  @include for-tablet-up {
    display: block;
    order: 3;
    text-align: center;
    align-items: center;
  }
}
