@import './hamburger/hamburgers.scss';

.header {
  font-family: 'MontserratRegular', sans-serif;
  @include for-phone-only {
    padding-top: 26px;
    padding-bottom: 24px;
  }
  @include for-tablet-up {
    padding-top: 34px;
    padding-bottom: 32px;
  }
  @include for-desktop-up {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      vertical-align: space-between;
    }
    @include for-desktop-up {
    }
  }

  &__burger-menu {
    @include for-tablet-up {
      display: none;
    }
    @include for-desktop-up {
    }
  }

  &__logo-link {
    padding: 15px 0;
    display: block;
    color: var(--color-secondary-texts);

    @include for-tablet-up {
      display: block;
      color: var(--color-secondary-texts);
      order: -1;
    }

    @include for-tablet-only {
      margin-bottom: 15px;
      width: 10%;
      margin-right: 30%;
    }
    @include for-desktop-up {
      width: 10%;
      height: 44px;
      text-align: center;
    }
  }

  &__input {
    @include for-phone-only {
      width: 20px;
      background: transparent;
      // border: none;
      // background: url('./img/icon_search.png');
      // background-position: right;
      // background-repeat: no-repeat;
    }
    @include for-tablet-up {
      width: 405px;
      height: 44px;
      border: 1px solid white;
      order: 1;
    }
    @include for-desktop-up {
      order: 0;
    }

    &:focus {
      @include for-phone-only {
        border-bottom: 1px solid var(--color-secondary-texts);
      }
    }
  }

  &__form {
    @include for-phone-only {
      display: none;
    }
    @include for-tablet-only {
      margin-bottom: 15px;
    }
    @include for-tablet-up {
      display: flex;
      order: 0;
    }
    @include for-desktop-up {
    }
  }

  &__form button {
    @include for-tablet-up {
      padding: 0 14px;
      font-size: 14px;
      background: transparent;
      border: none;
      color: rgba($color: #fafafa, $alpha: 0.2);
      //   color: var(--color-secondary-texts);
      text-align: center;
      position: relative;
    }

    &:hover {
      @include for-tablet-up {
        color: var(--color-decor);
      }
    }
  }

  &__avd-btn {
    @include for-phone-only {
      display: none;
    }

    @include for-tablet-up {
      font-family: 'MontserratBold', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 20;
      color: #fff;

      background-color: var(--color-decor);
      border: none;
      width: 200px;
      height: 44px;
    }

    @include for-tablet-only {
      margin-bottom: 15px;
    }

    @include for-desktop-up {
    }
  }
}

.navigationButtons {
  display: none;
  @include for-tablet-up {
    vertical-align: middle;
    // margin-right: 14px;
    display: block;
    order: 3;
    // text-align: center;
    // align-items: center;
    // color: var(--color-secondary-texts);
    color: rgba($color: #fafafa, $alpha: 0.2);
  }
}

.navigationButton {
  @include for-tablet-up {
    font-family: 'MontserratRegular', sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    background: transparent;
    border: none;
    color: rgba($color: #fafafa, $alpha: 0.2);
    padding: 0 11px;
  }
}

.navigationButtonFilter {
  @include for-desktop-up {
    display: none;
  }
}

.form__register-btn:after {
  @include for-tablet-up {
    content: '';
    border-right: 1px solid rgba($color: #fafafa, $alpha: 0.2);
    height: 100%;
    position: absolute;
    right: 0;
  }
}

svg {
  fill: rgba($color: #fafafa, $alpha: 0.2);
}
