@import './hamburger/hamburgers.scss';
@import '../../css/mixins.scss';

.header {
  font-family: 'MontserratRegular', sans-serif;
  @include for-phone-only {
    padding-top: 26px;
    padding-bottom: 24px;
  }
  @include for-tablet-up {
    padding-top: 34px;
    padding-bottom: 32px;
  }
  @include for-desktop-up {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  // --- header__nav ---
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
    }
    @include for-desktop-up {
      vertical-align: top;
    }
  }
  // --- header__burger btn ---
  &__burger {
    @include for-phone-only {
      z-index: 10;
    }
    @include for-tablet-up {
      display: none;
    }
  }
  // --- header__burgerMenu ---
  &__burgerMenu {
    @include for-phone-only {
      z-index: 8;
      transition: left 0.8s ease-in-out;
      background: #131f30;
      color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size: 2rem;
      height: 100vh;
      left: -95vw;
      padding: 6rem 2rem 2rem 2rem;
      position: fixed;
      top: 0;
      width: 95vw;
    }
    @include for-tablet-only {
      display: none;
      padding: 10px 0;
      position: absolute;
      width: 100vw;
      top: 169px;
      left: 0;
      background-color: #121d2e;
      z-index: 5;
    }
    @include for-desktop-up {
      order: 3;
      height: 32px;
      display: block;
      width: 80%;
      margin-top: 24px;
    }
    &.expanded {
      left: 0;
    }
  }
  // --- header__logo ---
  &__logo {
    position: relative;
    color: var(--color-secondary-texts);
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    @include for-tablet-only {
      margin-bottom: 15px;
      width: 30%;
      margin-right: 25%;
    }
    @include for-tablet-up {
      display: block;
      color: var(--color-secondary-texts);
      order: -1;
    }
    @include for-desktop-up {
      width: 82px;
      height: 44px;
      text-align: center;
      margin-right: 50px;
    }
    &-img {
      @include for-phone-only {
        position: absolute;
        z-index: 5;
        width: 40px;
        top: -20px;
        left: -18px;
      }
      @include for-tablet-only {
        position: absolute;
        width: 25%;
        top: -35px;
        left: -5px;
      }
      @include for-desktop-up {
        position: absolute;
        width: 55px;
        top: -23px;
        left: 50px;
      }
    }
    &-text {
      @include font(14px, 20px, 400);
      color: var(--color-secondary-texts);
      @include for-phone-only {
        display: none;
      }
      @include for-tablet-only {
        position: absolute;
        font-size: 21px;
        top: -7px;
        left: 50px;
      }
      @include for-desktop-up {
        position: absolute;
        font-size: 21px;
        top: 37px;
        left: 31px;
      }
    }
  }
  // --- header__search input ---
  &__search {
    @include for-phone-only {
      color: #fff;
      width: 20px;
      background: transparent;
      outline: none;
      border: none;
      background: url('../../components/header/img/icon_search.png');
      background-position: right;
      background-repeat: no-repeat;
    }
    @include for-tablet-up {
      order: 1;
      background-color: #fff;
      border: 1px solid #fff;
      background-image: url('../../components/header/img/icons8-search-50.png');
      background-size: 22px;
      background-position: 336px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      width: 370px;
      height: 44px;
    }
    @include for-desktop-up {
      order: 0;
      margin-right: 330px;
    }
    &:focus {
      @include for-phone-only {
        width: 150px;
        transition: width 0.4s ease-in-out;
        border-bottom: 1px solid var(--color-secondary-texts);
      }
    }
  }
  // --- header__form ---
  &__form {
    @include for-phone-only {
      display: none;
    }
    @include for-tablet-only {
      margin-bottom: 15px;
    }
    @include for-tablet-up {
      display: flex;
      order: 0;
    }
  }
  &__form button {
    @include for-tablet-up {
      padding: 0 14px;
      font-size: 14px;
      background: transparent;
      border: none;
      color: rgba($color: #fafafa, $alpha: 0.2);
      text-align: center;
      position: relative;
    }
    &__form-login:after {
      content: '';
      border-right: 1px solid rgba($color: #fafafa, $alpha: 0.2);
      height: 100%;
      position: absolute;
      right: 0;
    }
    &__form-register:after {
      @include for-tablet-up {
        content: '';
        border-right: 1px solid rgba($color: #fafafa, $alpha: 0.2);
        height: 100%;
        position: absolute;
        right: 0;
      }
    }
    &:hover {
      @include for-tablet-up {
        font-weight: bold;
        color: var(--color-decor);
        transition: all 0.4s ease-in-out;
      }
    }
  }
  // --- header__advertise btn ---
  &__advertise {
    @include for-phone-only {
      font-size: 0px;
      z-index: 5;
      display: block;
      position: fixed;

      bottom: 3vh;
      right: 3vh;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background-color: var(--color-decor);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
      background-image: url('./img/cross.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px;
    }
    @include for-tablet-up {
      font-family: 'MontserratBold', sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 20;
      line-height: 21px;
      border: none;
      width: 200px;
      height: 44px;
      color: #fff;
      background-color: var(--color-decor);
    }
    @include for-tablet-only {
      margin-bottom: 15px;
    }
    &:hover {
      background-color: rgb(233, 93, 0);
      transform: translateY(1px) scale(1.01);
      transition: all 0.3s ease-in-out;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
  // --- header__filters ---
  &__filters {
    display: none;
    @include for-tablet-up {
      display: block;
      order: 3;
      color: rgba($color: #fafafa, $alpha: 0.2);
    }
    @include for-desktop-up {
      height: 32px;
      margin-top: 34px;
    }
  }
  &__filters-btn {
    @include for-tablet-up {
      font-family: 'MontserratRegular', sans-serif;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1px;
      background: transparent;
      color: rgba($color: #fafafa, $alpha: 0.2);
      border: none;
      padding: 0 11px;
      position: relative;
    }
    @include for-desktop-up {
      padding: 0;
      padding-left: 10px;
    }
    &:hover,
    &:hover svg {
      fill: var(--color-decor);
      color: var(--color-decor);
      transition: all 0.3s ease-in-out;
    }
  }
  &__filters-icon {
    position: absolute;
    fill: rgba($color: #fafafa, $alpha: 0.2);
    bottom: 0;
    left: -20px;
  }
}

.buttonFilter {
  margin-right: 20px;
  @include for-tablet-up {
    margin-right: 30px;
  }
  @include for-desktop-up {
    display: none;
  }
}

.buttonRestore {
  margin-right: 20px;
  @include for-tablet-up {
    margin-right: 30px;
  }
}

.filterIsActiveForTablet {
  @include for-tablet-only {
    display: block;
  }
}

.js-header__form {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 60px;

  & button {
    padding: 0 14px;
    font-size: 14px;
    background: transparent;
    border: none;
    color: #fff;
    text-align: center;
    position: relative;
    &:hover,
    &:focus {
      transition: all 0.3s ease-in-out;
      color: var(--color-decor);
    }
  }
}

.js-navigationButtons {
  display: block;
  margin-bottom: 32px;
  padding-left: 20px;
}
.js-navigationButton {
  font-family: 'MontserratRegular', sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  background: transparent;
  border: none;
  color: rgba($color: #fafafa, $alpha: 0.2);
  padding: 0 11px;
}
// --- searchBar.hbs ---
.search {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__result {
    font-family: 'montserratBold';
    font-size: 24px;
    letter-spacing: 0.32px;
    line-height: 20px;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
