@import '../../css/mixins.scss';

.modal {
  background-color: white;
  width: 100vw;
}

.modalSignInAlert {
  @include font(15px, 100px, 500);
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 1, 08px;
  height: 100px;
  width: 250px;
  background-color: white;
  text-align: center;
}

.btnBack {
  background: none;
  border: none;
  margin: 35px 0 20px;
}

.btnClose {
  display: none;
}

.modal__title {
  @include font(18px, 22px, 700);
  font-family: 'MontserratBold', sans-serif;
  letter-spacing: 0.36px;
  font-style: normal;
  color: #000000;
  text-align: left;
  padding-bottom: 10px;
}

.modal__code {
  @include font(12px, 14px, 500);
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 1, 08px;
  color: #878686;
  padding-bottom: 28px;
}

.modal__price {
  @include font(18px, 22px, 700);
  font-family: 'MontserratBold', sans-serif;
  letter-spacing: 0.36px;
  color: var(--color-decor);
  padding-bottom: 32px;
}

.glideItemModal {
  margin-bottom: 114px;
  text-align: center;
}

// .modal__color-blue {
//   margin-right: 16px;
//   display: inline-block;
//   background-color: #b9eefe;
//   width: 25px;
//   height: 23px;
//   border: 0;
//   cursor: pointer;
// }

// .modal__color-blue::after {
//   position: absolute;
//   content: "";
//   transform: translate(-13px, 22px);
//   background-color: #333333;
//   width: 25px;
//   height: 1px;
// }

// .modal__color-turquoise {
//   display: inline-block;
//   background-color: #a02655;
//   width: 25px;
//   height: 23px;
//   border: 0;
//   cursor: pointer;
// }

// .modal__color-item {
//   @include font(8px, 10px, 500);
//   font-family: 'MontserratSemiBold', sans-serif;
//   letter-spacing: 0.72px;
//   color: #878686;
//   padding-top: 18px;
//   padding-bottom: 36px;
//   text-transform: uppercase;
// }

.modal__buyItem {
  @include font(16px, 19px, 700);
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 0.32px;
  background-color: var(--color-decor);
  width: 280px;
  height: 60px;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--color-white-text);
  margin-bottom: 18px;
}

.modal__share {
  padding-bottom: 40px;
}

.modal__favorites {
  @include font(12px, 14px, 500);
  font-family: 'MontserratSemiBold', sans-serif;
  letter-spacing: 1.08px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.modal__share-item-heart {
  display: block;
  position: absolute;
  content: '';
  transform: translate(122px, -15px);
}

.modal__share-item-toshare {
  display: block;
  position: absolute;
  content: '';
  transform: translate(238px, -15px);
}

.modal__share-item {
  @include font(12px, 14px, 500);
  font-family: 'MontserratSemiBold', sans-serif;
  letter-spacing: 1.08px;
  padding-left: 60px;
  padding-right: 10px;
}

.modal__content {
  @include font(12px, 14px, 500);
  font-family: 'MontserratSemiBold', sans-serif;
  letter-spacing: 1.08px;
  color: #878686;
  padding-bottom: 12px;
}

.modal__content-text {
  @include font(13px, 18px, 500);
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 0.52px;
  color: #000000;
  padding-bottom: 26px;
}

.modal__content-text-item {
  color: #000000;
  padding-bottom: 60px;
}

.modal__content-text-structure {
  @include font(13px, 18px, 700);
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 0.52px;
  color: #878686;
}

.itemModal__slider {
  display: block;
}

.tablet_picture {
  display: none;
}

.modal__img {
max-width: 280px;
max-height: 308px;
position: relative;
top: 50%;
transform: translateY(-50%);
}

// @mixin for-phone-only {
//   @media (max-width: 767px) {}
// }

@media (min-width: 768px) {
  .modal {
    width: 720px;
    height: 600px;
  }

  .modal__content-text {
    width: 294px;
  }

  .btnClose {
    display: flex;
    position: relative;
    left: 298px;
    background: none;
    border: none;
    margin-top: 15px;
  }

  .modal__price {
    padding-bottom: 125px;
  }

  .itemModal__slider {
    display: none;
  }

  .tablet_picture {
    display: block;
    padding: 66px 20px 10px 17px;
  }

  .flex_wrapper {
    display: flex;
  }

  .btnBack {
    display: none;
  }

  .itemModal__MainImageWrapper {
    width: 324px;
    height: 374px;
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
  }

  .itemModal__MainImage {
    // width: 342px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 324px;
    max-height: 374px;
  }

  .itemSliderPicture {
    // height: 53px;
    max-width: 53px;
    max-height: 53px;
    // height: 100%;
    // width: 100%;
  }

  .glideItemModal {
    display: none;
  }

  .itemSliderPictureWrapper {
    padding-top: 10px;
    text-align: center;
  }
}

// @mixin for-tablet-only
// @media (min-width: 768px) and (max-width: 1279px) {
// }

// @mixin for-desktop-up 
@media (min-width: 1280px) {
  .itemModal__MainImageWrapper {
    width: 407px;
    height: 450px;
  }

  .itemModal__MainImage {
    max-width: 407px;
    max-height: 450px;

  }

  .modal {
    width: 1025px;
    height: 675px;
  }

  .tablet_picture {
    padding: 80px 45px 10px 97px;
  }

  .itemSliderPictureWrapper {
    padding-top: 16px;
  }

  .btnClose {
    left: 415px;
    margin-top: 53px;
  }

  .modal__content-text {
    width: 412px;
  }
}
