@import './normalize.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
}

header,
footer {
  background: #1e2939;
}

​img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include for-tablet-up {
    width: 690px;
  }

  @include for-desktop-up {
    width: 1200px;
  }
}

h1 {
  @include font(14px, 20px, 400);
}

.header__logo-img {
  width: 50px;
  position: relative;
  top: 0px;
  left: 10px;
  @include for-phone-only {
  }
  @include for-tablet-up {
    top: 8px;
    left: 0px;
  }
  @include for-desktop-up {
    top: -20px;
    left: -55px;
  }
}

.logo_text {
  @include font(14px, 20px, 400);

  color: var(--color-decor);

  @include for-tablet-up {
    @include font(18px, 20px, 400);
    position: relative;
    top: -28px;
    left: 60px;
  }

  @include for-desktop-up {
    @include font(18px, 20px, 400);
    top: -58px;
    left: 22px;
  }
}
