<form class="header__form js-header__form">
    <button class="header__form-register js-form__register-btn" type="button" name="register">Registration</button>
    <button class="header__form-login js-form__login-btn" type="button" name="login">Login</button>
    <button class="header__form-logout js-form__logout-btn" type="button" name="login">Logout</button>
</form>

<div class="header__filters js-navigationButtons">
    <button class="header__filters-btn buttonFilter js-navigationButton">
        <svg class="header__filters-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z" />
        </svg>
        <span>Filter</span>
    </button>
    <button class="header__filters-btn buttonRestore js-navigationButton">
        <svg class="header__filters-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z" />
        </svg>
        <span>Reset</span>
    </button>
</div>

<ul class="navigationFilterList">
    {{#each this}}
    <li class="navigationFilterListItem">{{this}}</li>
    {{/each}}
</ul>