@import '../../css/mixins.scss';

.navigationFilter {
  background-color: #131f30;
  color: #ced2d1;
}

.navigationFilterList {
  display: flex;
  flex-wrap: wrap;
  color: #ced2d1;
  @include for-tablet-only {
    justify-content: center;
    padding: 20px 20px;
  }
}

.navigationFilterListItem {
  box-sizing: content-box;
  text-align: center;
  padding: 9px 15px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 8px;
  border: 1px solid rgb(206, 210, 209);
  opacity: 0.2;
  border-radius: 40px;
  cursor: pointer;

  @include for-phone-only {
    margin-bottom: 15px;
  }
  @include for-tablet-only {
    margin-top: 10px;
  }
  &:not(:last-child) {
    margin-right: 7px;
  }
  &:hover,
  &:focus {
    transform: translateY(1px) scale(1.05);
    transition: all 0.3s ease-in-out;
    border-color: #ff6b08;
    color: #ff6b08;
    opacity: 1;
  }
}

.elementIsActive {
  border-color: #ff6b08;
  color: #ff6b08;
  opacity: 1;
}