@import '../../css/mixins.scss';

.navigationFilter {
  // display: block;
  // justify-content: flex-start;
  background-color: #131f30;
  color: #ced2d1;
}

.navigationFilterListItem {
<<<<<<< HEAD
  // box-sizing: content-box;
=======
  box-sizing: content-box;
>>>>>>> dev
  text-align: center;
  padding: 9px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 8px;
  border: 1px solid rgb(206, 210, 209);
  opacity: 0.2;
  border-radius: 40px;
  cursor: pointer;
  transition: all 300ms linear;
}
<<<<<<< HEAD

.navigationFilterListItem:not(:last-child) {
  margin-right: 10px;
}

.navigationFilterListItem:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 20px;
}

=======

.navigationFilterListItem {
  @include for-phone-only {
    margin-bottom: 20px;
  }

}
.navigationFilterListItem:not(:last-child) {
  margin-right: 7px;
}

>>>>>>> dev
.navigationFilterList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #ced2d1;
<<<<<<< HEAD
}

.navigationFilterListItem:hover,
.navigationFilterListItem:focus {
  border-color: #ff6b08;
  color: #ff6b08;
  opacity: 1;
}
=======
  @include for-tablet-only {
   justify-content: center;
  }
}

.navigationFilterListItem:hover,
.navigationFilterListItem:focus {
  border-color: #ff6b08;
  color: #ff6b08;
  opacity: 1;
}

>>>>>>> dev
